option_settings:
  # As noted in the AWS docs, the following option cannot be set through the .ebextensions configuration files,
  # and thus has to be defines through EB CLI arguments on environment creation.
  #
  # aws:elasticbeanstalk:environment:
  #   LoadBalancerType: network

  aws:elbv2:listener:11222:
    Protocol: TCP
    DefaultProcess: cache
  aws:elasticbeanstalk:environment:process:cache:
    Port: '11222'
    Protocol: TCP

  aws:elbv2:loadbalancer:
    SecurityGroups: sg-21ac675b
